/* .date-btn {
  width: 90px;
  height: 100px;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
  color: #4f595d;
} */

.date-selector-container {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
  overflow-x: auto;
  justify-content: center;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0.5rem;
}

.date-btn {
  flex: 0 0 auto;
  width: 90px;
  height: 100px;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
  color: #4f595d;
  scroll-snap-align: center;
}

.date-btn.btn-primary {
  background-color: #299ebb;
  color: white;
  border: none;
}
.btn-light {
  background-color: white;
}

.btn-light:hover {
  background-color: white;
  color: #299ebb;
  border-color: #299ebb;
  transition: all 0.2s ease-in-out;
}
.icon-button {
  background: none; /* không nền */
  border: none; /* không viền */
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #000; /* màu icon */
  cursor: pointer;
}

.icon-button:hover {
  background: none;
  color: #299ebb;
  transition: all 0.2s ease-in-out;
}
.weekday {
  font-size: 0.75rem;
  font-weight: 500;
}

.date-number {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}

.month {
  font-size: 0.8rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .date-selector-container {
    justify-content: flex-start;
  }
  .date-btn {
    width: 75px;
    height: 90px;
    font-size: 0.85rem;
  }

  .date-number {
    font-size: 1.5rem;
  }

  .month,
  .weekday {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .date-selector-container {
    justify-content: flex-start;
  }
  .date-btn {
    width: 60px;
    height: 80px;
    font-size: 0.8rem;
  }

  .weekday,
  month {
    font-size: 0.65rem;
  }

  .date-number {
    font-size: 1.3rem;
  }

  .icon-button {
    font-size: 1.2rem;
  }
}
